.table-wrapper {
  overflow-x: auto;

  table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    overflow: hidden;
    table-layout: auto;
    margin-top: 10px;

  }
}

thead {
  background-color: rgb(147, 180, 118);
  color: rgb(255, 255, 255)
}

th,
td {
  padding: 0.8rem;
  text-align: center;
  border-top: 0.5px solid #ddd;

  white-space: nowrap;
  width: auto;
}
td{
  border-right: 0.5px solid #ddd;
}
.deleteIcon {
  color: red;
}

.editIcon {
  color: rgb(22, 31, 40);
  margin-left: 15px;
}
