.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/img/truck.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .homeBtn {
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
  .homeTitle{
    font-size: 50px;
  }
}
.allTruckingCards{
  margin-top: 20px;
}