.lngBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;

}

.lngBtnLast {
  margin-right: 5px;
}
