.lngBtn {
  background-color: #fafafa;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;

}
.lngBtns{
  margin: 0 10px;
}
.lngBtnLast {
  margin-right: 5px;
}

